---
---

@import "{{ site.theme }}";
.wrapper {
    width: 1050px;
}
.intro {
    width: 300px;
}
.content {
    width: 700px;
}

.name {
    margin-top: 30px;
    font-size: 33px;
}

body {
    padding: 50px;
    font: 17px/1.7 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}